mixin section-contacts
	section.contacts#contacts
		.container
			h2.contacts__title.title Контакты
			.contacts__address 
				|230005 Республика Беларусь
				br
				|г. Гродно, ул. Горького 95
			a.contacts__phone(href="tel:+3751522222") +375 (152) 43 22 22
			a.contacts__email(href="mailto:info@excl.by") info@excl.by
			.contacts__socials
				+socials