mixin nav
  nav.navigation
    ul.navigation__list#nav
      li.navigation__item: a(href="#about") О бренде
      li.navigation__item: a(href="#production") Продукция
      li.navigation__item: a(href="#partners") Партнеры
      li.navigation__item: a(href="#contacts") Контакты