.header {
  position: relative;
  &:after {
    content: '';
    height: 390px;
    width: 130vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(transparent, $bg), url('/images/pp1.png') repeat;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    position: relative;
  }
  &__logo {
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    @include media1060 {
      top: 80px;
    }
    @include media480 {
      top: 88px;
    }
  } 
  .logo {
    width: 181px;
    height: 196px;
    @include media1060 {
      width: 146px;
      height: 158px;
    }
    @include media768 {
      width: 124px;
      height: 136px;
    }
  }
  &__nav {
    margin-top: 216px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 100px;
    background: url('/images/decor1.svg') no-repeat 50% 60%/182px 36px;
    z-index: 1;
    display: flex;
    justify-content: center;
    @include media480 {
      margin-top: 202px;
      padding-bottom: 96px;
    }
  }
} 
.contactsTop {
  padding-left: 35px;
  background: url('/images/phone.svg') no-repeat 0% 45%/13px;
  @include media480 {
    padding-left: 30px;
  } 
  &__text {
    color: #818181;
    font-size: 13px;
    margin-bottom: 3px;
    @include media480 {
      display: none;
    }
  }
  &__phone a {
    font-size: 14px;
    color: $text;
  }
}